*.pyc
__pycache__/*.pyc
app/__pycache__/*.pyc
migrations/__pycache__/*.pyc
migrations/versions/__pycache__/*.pyc
.vscode/
app.db
instance
.Rhistory
__pycache__
app/__pycache__
migrations/__pycache__
migrations/versions/__pycache__
.idea/
venv/
raas_env/
migrations/
eval/
