{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='containrize.css') }}" xmlns:background-color="http://www.w3.org/1999/xhtml">
{% endblock %}
{% block app_content %}
<script>

    function isInArray(arr,value){
        for(var i = 0; i < arr.length; i++){
       if(value === arr[i]){
            return true;
         }
     }
     return false;
 }
function hide_ad()
{

    {#let advanced_options=["command_line","provenance","code_btw","sample_output","pkg_asked"]#}
    {#let control_label_class=document.getElementsByClassName("control-label")#}
    {#    for(let i=0;i<control_label_class.length;i++){#}
    {#    if(isInArray(advanced_options,control_label_class.item(i).getAttribute("for"))){#}
    {#        control_label_class.item(i).style.display="none"#}
    {#    }}#}
    {#for(let i=0;i<advanced_options.length;i++){#}
    {#    document.getElementById(advanced_options[i]).style.display="none"}#}
    document.getElementById("advance").style.display="none"
    document.getElementById('button1').value="Show Advanced Options";
}
function block()
{
    {#let control_label_class = document.getElementsByClassName("control-label");#}
    {#let advanced_options=["command_line","provenance","code_btw","sample_output","pkg_asked"]#}
if (document.getElementById('button1').value==="Show Advanced Options"){
    document.getElementById('button1').value="Hide Advanced Options";
    {#for(let i=0;i<control_label_class.length;i++){#}
    {#    if(isInArray(advanced_options,control_label_class.item(i).getAttribute("for"))){#}
    {#        control_label_class.item(i).style.display="block"#}
    {#    }#}

    {#    for(let i=0;i<advanced_options.length;i++){#}
    {#    document.getElementById(advanced_options[i]).style.display="block"#}
  document.getElementById("advance").style.display="block"
}else{
     document.getElementById('button1').value="Show Advanced Options";
    document.getElementById("advance").style.display="none"

}
}
</script>
    <style>
#main{float:left}
#advance{float:left}
#pkg_table{float: bottom}
    </style>


 {% if show_adv == False%}
    <body onload="hide_ad()">
     {% elif show_adv == True%}
    <body>
{% endif %}

    <div class="row">
        <h1 class="text-primary">Build Docker Image for Dataset</h1>
        <p class="text-muted">For instructions, see Part 3 of the <a href=" {{url_for('instructions')}}">instructions page</a>.</h2>
         {% if show_adv == False%}
            <input type='button' id="button1" value="Show Advanced Options" onclick="block()">
            {% elif show_adv == True%}
            <input type='button' id="button1" value="Hide Advanced Options" onclick="block()">
          {% endif %}

    <form action="" method='POST' enctype="multipart/form-data">
        <div id="main" class="col-md-4 text-muted">
              {{ form.hidden_tag() }}
  {{ form.spot_id }}
            {{wtf.form_field(form.zip_file)}}
    {{wtf.form_field(form.set_file)}}
    {{wtf.form_field(form.name)}}
    {{wtf.form_field(form.extended_lib)}}
    {{wtf.form_field(form.fix_code)}}
     {{wtf.form_field(form.language)}}
        {{wtf.form_field(form.submit)}}
    </div>
    <div id="advance">
    {{wtf.form_field(form.command_line)}}
    {{wtf.form_field(form.code_btw)}}
    {{wtf.form_field(form.provenance)}}
    {{wtf.form_field(form.sample_output)}}
    <label class="control-label">Additional Packages</label>
    <div id="pkg_table">

        {% for f in form.pkg_asked%}
            {{ f.hidden_tag() }}
  {{ f.spot_id }}
            <label class="package name">Package name</label>
        {{f.package_name}}
            <label class="pypI_name">pypI_name</label>
            {{f.pypI_name}}<br>
    {%endfor%}
    {{wtf.form_field(form.add)}}
    </div>
    </div>


    </form>
{#        <form action="" method='POST'>#}
{#  {{ form.hidden_tag() }}#}
{#  {{ form.spot_id }}#}
{#  {% for item in form.pkg_asked %}#}
{#    {{ wtf.form_field(form.pkg_asked)}}#}
{#  {% endfor %}#}
{# <button type="submit" name="button">Save it</button>#}
{#        </form>#}


        </div>


</body>





{% endblock %}
