{% extends "base.html" %}
<style>
.logo image{position: absolute }
</style>
{% block app_content %}
    <img id="logo" src="../static/RAASNewLogo.png" alt="RAAS" width="7%" align="right" >
    <h1 class="text-primary">Hi, {{ current_user.username }}!</h1>
    <h3 class="text-muted">Your Docker Images</h3> 
    <table class="table table-striped table-hover">
     	<thead class="thead-dark">
        	<tr class="text-primary">
         		<th scope="col">Name</th>
        		<th scope="col">Date Created</th>
				 <th scope="col">URL</th>
    		</tr>
		</thead>
		<tbody>
		{% for dataset in datasets %}
			<tr>
				<th scope="row">{{ dataset.name }}</th>
		      	<td class="text-muted">{{ dataset.timestamp.strftime('%m/%d/%y %I:%M%p UTC') }}</td>
				<td><a href="{{ dataset.url }}" target="_blank">{{ dataset.url }}</a></td>
				<td><a href="{{ url_for('report', reportNum=dataset.id) }}">View Report</a></td>
			</tr>
		{% endfor %}	
		</tbody>
	</table>
	{% if prev_url %}
    <a href="{{ prev_url }}"><button type="button" class="btn btn-primary">Newer Datasets</button></a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"><button type="button" class="btn btn-primary">Older Datasets</button></a>
    {% endif %}

{% endblock %}